.gdetails__title {
    margin: 0;
}
  
.gdetails__back {
    margin-top: 0.5rem!important;
}
  
.gdetails__released {
    margin-top: 0;
}
    
.gdetails__description p {
    margin-top: 0;
}

.gdetails__description h3 {
    margin-bottom: 0;
}

.screenshot-image-container {
    height: 200px;    
}
.screenshot-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}  
.MuiRating-iconEmpty {
    color: rgba(60,52,132,0.8 !important);
}
  
.SRLImage {
    max-width: 100%!important;
    max-height: inherit!important;
    @media (min-width: 576px) {
      max-width: 75%!important;
      max-height: inherit!important;
      width: 100%!important
    }
}
