body{
    background-image: url(../grafika/tlo.jpg);
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;
}
#tytuł{
    color: white;
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    margin-bottom: 30px;
}
#zdjęcia{
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgba(255, 255, 255, 0.70);
    padding: 46px;
    margin-bottom: 100px;
    float: left;
}
#kolumna1{
    float: left;
    width: 500px;
}
#kolumna2{
    float: left;
    margin-left: 46px;
    width: 500px;
}
#kolumna3{
    float: left;
    margin-left: 46px;
    width: 500px;
}
img{
    filter: brightness(0.6);
}
.wysokie{
    height: 750px;
    width: 500px;
    margin-bottom: 46px;
    transition: 0.2s ease-in-out;
}
.wąskie{
    width: 500px;
    height: 333px;
    margin-bottom: 46px;
    transition: 0.2s ease-in-out;
}
img:hover{
    transform: scale(1.05);
    filter: brightness(1);
    transition: 0.2s ease-in-out;
}
footer{
    margin-left: -6px;
    padding-top: 10px;
    text-align: center;
    top: 95%;
    position: fixed;
    height: 40px;
    border: none;
    border-top: black 1px solid;
    background-color: rgb(19, 112, 124);
    width: 1980px;
    color: white;

}